.bookshow{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Merriweather", "Georgia", serif;
}

.bookshow-info{
    display: flex;
    justify-content: center;
    width: 75%;
    margin-left: 12%;
    margin-right: 12%;
    border-bottom: 1px solid #D8D8D8;

}

.bookshow-info-img{
    display: flex;
    flex-direction: column;
}

.bookshow-info-img img{
    width: 300px;
    margin: 20px;
}

.bookshow-info-text{
    margin: 20px;
    line-height: 1.8;
}

.bookshow-info-text h1{
    font-size: 24px;
    font-weight: bold;
}

.bookshow-info-text h2{
    font-size: 18px;
}

.bookshow-info-text p{
    font-size: 15px;
}

.bookshow-reviews{
    display: flex;
    justify-content: center;
}

.bookshow-reviews{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 75%;
    margin-left: 12%;
    margin-right: 12%;
    border-bottom: 1px solid #D8D8D8;
}

.bookshow-info-dropdown{
    margin-left: 20px;
}

.bookshow-info-dropdown-button{
    width: 200px;
    padding: 5px;
    background-color: #F2F2F2;
    border: none;
    cursor: pointer;
    border:  1px solid #D6D0C4;
    border-radius: 3px;
}


.bookshow-info-dropdown-content {
    display: none;
    position: absolute;
    padding: 5px;
    background-color: white;
    border:  1px solid #D6D0C4;
    min-width: 200px;
    z-index: 1;
}

.bookshow-info-dropdown-content-div{
    padding: 5px;
}
.bookshow-info-dropdown-content-div:hover{
    background-color: #F2F2F2;
    cursor: pointer;
}
