.myBooks{
    display: flex;
    flex-direction: column;
}

.myBooks-main{
    display: flex;
}

.myBooks-main-bookshelves{
    display: flex;
    flex-direction: column;
    font-family: "Merriweather", Georgia, "Times New Roman", serif;
    width: 25%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 40px;
}

.myBooks-main-bookshelves h1{
    font-size: 20px;
    color: #00635d;
    font-size: bolder;
}

.myBooks-main-bookshelves ul{
    display: flex;
    flex-direction: column;
}

.myBooks-main-showbooks{
    width: 60%;
}

.myBooks-main-showbooks-images img{
    width: 150px;
    margin: 20px;

}

.myBooks-main-showbooks-list{
    display: flex;
    flex-wrap: wrap;
}