@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


.navbar{
    background-color: #F4F1EA;
    display: flex; 
    justify-content: space-between;
    height: 50px;

}

.navbar-leftbar{
    display: flex;
    justify-content: space-between;
}

.navbar-leftbar ul{
    display: flex;
    width: 395px;
    justify-content: flex-start;
}


.navbar-leftbar li{
    font-family: "Lato", "Helvetica Neue", Helvetica, sans-serif;
    font-size: 16px;
    color: #382110;
    padding: 15px 30px 0px 30px;

}


.navbar-logo img{
    width: 225px;
    height: 54px;
    margin-left: 23px;
    margin-top: 3px;
}

.navbar-searchbar{
    display: flex;
    position: relative;
    width: 395px;
    height: 32px;
    margin-top: 10px;
}

.navbar-searchbar input{
    width: 100%;
    border: 1px solid #DCD6CC;
    border-radius: 3px;
    padding: 4px 20px 4px 8px;
}
.navbar-searchbar button{
    border: none;
    background-color: white;
    position: absolute;
    top: 5px;
    right: 1px;
    z-index: 2;
}

.navbar-rightbar > ul {
    display: flex;
    justify-content: space-around;
    width: 230px;
    height: 50px;

}

.navbar-rightbar li{
    width: 25%;
    padding-top: 10px;
}


.navbar-rightbar >  ul > li:hover{
    cursor: pointer;
    background-color: #382110;
}
.navbar-leftbar li:hover{
    cursor: pointer;
    background-color: #382110;
    color: white;
}

.navbar-rightbar img{
    height: 30px;
    width: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.navbar-rightbar-user{
    border-radius: 50%;
    border: 1px solid #E6E5E2;

}

.dropdown{
    position: relative;
    display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0px;
  background-color: #f9f9f9;
  min-width: 250px;
  height: 155px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content li {
    width: 100%;
    height: 25px;
    padding-left: 15px;
    font-family: "Lato", "Helvetica Neue", Helvetica, sans-serif;
    font-size: 14px;
}   

.dropdown-content li:hover {
    color: blue;
    cursor: pointer;
}

.hidden{
    display: none;
}


.modal{
    display: none;      
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    overflow-y: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4); 
}

.modal-content{
    background-color: #fefefe;
    position: fixed;
    top: 0;
    right: 0;
    margin: 0% auto; 
    padding: 20px;
    border: 1px solid #888;
    min-width: 415px;
    margin-left: 300px;
}

.modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.modal-close:hover,
.modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.slide-right{
    position:relative;
    animation:animateright 0.4s}
@keyframes animateright{
    from {right:-300px;opacity:0} 
    to{right:0;opacity:1}
}

.navbar-searchbar-results{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    top: 32px;
    background-color: #F4F1EA;
    z-index: 10000;
}

.navbar-searchbar-results-book{
    border: 1px solid #D8D8D8;
    display: flex;
}

.navbar-searchbar-results-book h1{
    font-family: "Lato", "Helvetica Neue", Helvetica, sans-serif;
    font-size: 16px;
}

.navbar-searchbar-results-book h2{
    font-family: "Merriweather", "Georgia", serif;
    font-size: 14px;
}
.navbar-searchbar-results-book img{
    height: 38px;
    width: 25px;
    margin-right: 5px;
}

@media screen and (max-width: 1220px) {
    .navbar{
        display: flex;
        align-items: flex-start;
        align-content: stretch;
        flex-wrap: wrap;
        height: 100px;
    }
    .topnav{
        display: flex;
        height: 50%;
        order: -1;
    }
    .navbar-searchbar{
        height: 32px;
        position: relative;
    }


    .bottomnav{
        display: flex;
        width: 100%;
        height: 50%;
        background-color: #F4F1EA;
        justify-content: center;
        z-index: 5;
    }

    .navbar-searchbar-results{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    top: 32px;
    background-color: #F4F1EA;
    z-index: 10000;
}

}

@media screen and (max-width: 890px) {
    .navbar-searchbar, .navbar-rightbar{
        display: none;
    }
    .hidden{
        display: flex;
        order: -1;
    }

}