.bookshow-reviews > div{
    margin-top: 20px;

}
.bookshow-reviews h1{
    color: #382110;
    font-family: "Lato", "Helvetica Neue", Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;

}
.bookshow-reviews-user-review-header{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #D8D8D8;
    padding-bottom: 5px;
}

.bookshow-reviews-community-reviews h1{
    border-bottom: 1px solid #D8D8D8;
    padding-bottom: 5px;
}
.bookshow-reviews-user-review  div{
    font-family: "Lato", "Helvetica Neue", Helvetica, sans-serif;
    font-size: 14px;
}
.bookshow-reviews-user-review-details{
    display: inline-block;
    height: 18px;
    width: 130px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.bookshow-reviews-individual-review{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
}
.bookshow-reviews-individual-review img{
    height: 66px;
    width: 50px;
    margin-right: 10px;
}

.bookshow-reviews-individual-review > div{
    display: flex;
    flex-direction: row;
}

.bookshow-reviews-individual-review-fulltext{
    font-family: "Lato", "Helvetica Neue", Helvetica, sans-serif;
    font-size: 14px;
    width: 100%;
}

.bookshow-reviews-individual-review-title{
    display: flex;
    justify-content: space-between;
}
.bookshow-reviews-individual-review-title > span{
    color: #bbbbbb;
}

.bookshow-reviews-user-review-writeareview{
    border-radius: 3px;
    border: 1px solid #D6D0C4;
    font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
    font-size: 14px;
    background-color: #F4F1EA;
    line-height: 1;
    padding: 8px 12px;

}

.orange-stars{
    color: #FA6049;
}
.clear-stars{
    color: #D6D6D6;
}   
.gold-stars{
    color: #F5A524;
}