.review-edit-container{
    /* width: 960px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Merriweather", "Georgia", serif;
    width: 60%;
    margin-left: 19%;
    margin-right: 19%;
}

.review-edit-menu{
    font-family: "Merriweather", Georgia, "Times New Roman", serif;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    margin-bottom: 20px;
}

.review-edit-menu-title{
    color: #00635d;
}
.review-edit-menu-title:hover{
    text-decoration: underline;
    cursor: pointer;
}
.review-edit-menu-title2:hover{
    text-decoration: underline;
    cursor: pointer;
}

.review-edit-book-info img{
    width: 50px;
    height: 75px;
    margin-right: 10px;
}

.review-edit-book-info{
    display: flex;
    border-bottom: 1px solid #D8D8D8;
}

.review-edit-menu-title2{
    color: #333333;
    font-size: 18px;

}

.review-edit-menu-author{
    font-size: 14px;
}
.review-edit-textarea{
    height: 312px;
    width: 100%;
    border: 1px solid #DCD6CC;
}

.review-edit-book-review-line1{
    display: flex;
    margin-top: 10px;
}

.review-edit-book-review-line1-myreview, .review-edit-book-review-line1-whatdidyouthink{
    font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
    font-size: 14px;
    margin-right: 5px;
    margin-bottom: 10px;
}

.review-submit{
    border-radius: 3px;
    border: 1px solid #D6D0C4;
    font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
    cursor: pointer;
    background-color: #F4F1EA;
    line-height: 1;
    padding: 8px 12px;
    margin-top: 10px;
}

.review-edit-rating {
  display: inline-block;
}
.review-edit-rating * {
  float: right;
}
input[type=radio] {
  display: none;
}
label{
    color: #D6D6D6;
}
input[type=radio]:checked ~ label {
  color: #F5A524;
}