.splash-header{
    background-color: #f4f2e9;
    background-image: url("masthead_background.jpg");
    height: 370px;
}

.splash-header-mainheader{
    display: block;
    justify-content:space-around;
}
.splash-header-mainheader-logo{
    /* display: inline-block;
    float: left; */
    float: left;
    width: 30%;
}

.splash-header-mainheader-loginform{
    float: left;
    width: 70%;
}

.splash-header-subheader{
    position: relative;
    top: 100px;
}

.splash-header-subheader-slogan{
    float: left;

}

.splash-header-subheader-signup{
    float: right;
}

.splash-header-subheader-signup-form input{
    display: block;
    width: 270px;
}

/* .splash-header-subheader-signup-form:last-child{
    width: 85px;
} */

.splash-main-left{
    display: flex;
    justify-content: center;
}

.splash-main-left h2{
    font-size: 18px;
}

.splash-main-discover{
    background-color: #f4f2e9;
}

.splash-main-discover-booklinks img{
    float: left;
    height: 120px;
    width: 80px;
}

